*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container, .products-container {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 30px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.form-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}

.form-container label {
    font-size: 16px;
    color: black;
    margin-top: 10px;
    display: block;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
}

.add-btn {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: rgb(2, 97, 2);
}

#category{
    cursor: pointer;
}

.fa-solid.fa-trash-can {
    cursor: pointer;
  }