*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}


.grid-container > div{
  background-color: pink
}



.grid-container .item1 {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-container .item4{
  grid-column: span 2;
}


.grid-container .item6{
  grid-column: span 1;
}

.grid-container .item5{
  grid-column: span 3;
  order: 1;
}