*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading h1{
  font-size: 50px;
  color: white;
  background-color: aqua;
}

.about h1{
  font-size: 30px;
}


.web{
  background-color: green;
  display: flex;
  text-align: center;
}
.web .element h2,p{
  color: white;
}

